# Restaurant Data Analsis

## Introduction:
This project involves an analysis of a restaurant dataset that encompasses a diverse range of locations, including Jakarta, Varabasi, Abu Dhabi, Yorkton, and many more. The initial phase focused on exploratory data analysis to understand the dataset's structure and identify potential patterns. Subsequent steps involved data cleaning and aggregation to extract meaningful insights, such as identifying cities with the highest and lowest number of restaurants and determining the percentage of restaurants offering online delivery.

## Case Study:
The case study of this project answers a few questions that involves
* Identifying locations for new restaurant openeings
* Analyzing customer feedback
* prediciting sales based on location and historical data

## Proposed Solution

In order to address the case study above, we need to handle a few tasks.
1. Exploratory Data Analysis
we will be exploring the data using metrics and aggregations to understand the data distribution and identify outliers and discover patterns based on location
2. Geograpic Information System
GIS will help visualize locations where restaurants can potentially expand to along with spatial relationships.
3. Customer Segmentation
Lastly we will be diving into customer segmentation to identify customer behavior,cuisine preferences, and demographics.

## Data Preparation
- Import the data using the pandas function "Read_csv" to read in the file for analysis.
- Using pandas functions such as .tail, .rename, .isnull, and many more to help clean up the dataset to make it more readable.

## Exploratory Data Analysis
Once the data is cleaned and ready to go be explored, you can then start using aggregations and metrics to explore the data. a list of aggregations and metrics included in this project are
- Sum
- Mean
- Max
- Min
- Count
- Group By

## Results
Based on some of the metrics, it looks like the city with the most crowded restaurants are in the country of Jakarta while some cities with the least amount of restaurants are in

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("Restaurant data.csv")

# Data Exploration

In [ ]:
df.head(10)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
0,7402935,Skye,94,Jakarta,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...","Grand Indonesia Mall, Thamrin","Grand Indonesia Mall, Thamrin, Jakarta",106.821999,-6.196778,"Italian, Continental",800000,Indonesian Rupiah(IDR),No,No,3,4.1,Green,Very Good,1498
1,7410290,Satoo - Hotel Shangri-La,94,Jakarta,"Hotel Shangri-La, Jl. Jend. Sudirman","Hotel Shangri-La, Sudirman","Hotel Shangri-La, Sudirman, Jakarta",106.818961,-6.203292,"Asian, Indonesian, Western",800000,Indonesian Rupiah(IDR),No,No,3,4.6,Dark Green,Excellent,873
2,7420899,Sushi Masa,94,Jakarta,"Jl. Tuna Raya No. 5, Penjaringan",Penjaringan,"Penjaringan, Jakarta",106.800144,-6.101298,"Sushi, Japanese",500000,Indonesian Rupiah(IDR),No,No,3,4.9,Dark Green,Excellent,605
3,7421967,3 Wise Monkeys,94,Jakarta,"Jl. Suryo No. 26, Senopati, Jakarta",Senopati,"Senopati, Jakarta",106.813400,-6.235241,Japanese,450000,Indonesian Rupiah(IDR),No,No,3,4.2,Green,Very Good,395
4,7422489,Avec Moi Restaurant and Bar,94,Jakarta,"Gedung PIC, Jl. Teluk Betung 43, Thamrin, Jakarta",Thamrin,"Thamrin, Jakarta",106.821023,-6.196270,"French, Western",350000,Indonesian Rupiah(IDR),No,No,3,4.3,Green,Very Good,243
5,18352452,Lucky Cat Coffee & Kitchen,94,Jakarta,"Plaza Festival, South Parking, Jl. HR Rasuna S...","Plaza Festival, Kuningan","Plaza Festival, Kuningan, Jakarta",106.831748,-6.218932,"Cafe, Western",300000,Indonesian Rupiah(IDR),No,No,3,4.3,Green,Very Good,458
6,18386856,Onokabe,94,Tangerang,"Alam Sutera Town Center, Jl. Alam Utama, Serpo...","Alam Sutera Town Center, Serpong Utara","Alam Sutera Town Center, Serpong Utara, Tangerang",106.652688,-6.241792,Indonesian,300000,Indonesian Rupiah(IDR),No,No,3,3.7,Yellow,Good,155
7,7423482,Lemongrass,94,Bogor,"Jl. Raya Pajajaran No. 21, Bogor Utara, Bogor",Bogor Utara,"Bogor Utara, Bogor",106.807850,-6.576578,"Peranakan, Indonesian",250000,Indonesian Rupiah(IDR),No,No,3,4.0,Green,Very Good,1159
8,18391256,MONKS,94,Jakarta,"Komplek Graha Boulevard Timur, Summarecon Kela...",Kelapa Gading,"Kelapa Gading, Jakarta",106.911335,-6.163948,"Western, Asian, Cafe",250000,Indonesian Rupiah(IDR),No,No,3,4.2,Green,Very Good,259
9,7422633,Talaga Sampireun,94,Jakarta,Jl. Lingkar Luar Barat,Cengkareng,"Cengkareng, Jakarta",106.728508,-6.168467,"Sunda, Indonesian",200000,Indonesian Rupiah(IDR),No,No,3,4.9,Dark Green,Excellent,1662

In [ ]:
df['Aggregate rating'].value_counts()

0.0    2148
3.2     522
3.1     519
3.4     498
3.3     483
3.5     480
3.0     468
3.6     458
3.7     427
3.8     400
2.9     381
3.9     335
2.8     315
4.1     274
4.0     266
2.7     250
4.2     221
2.6     191
4.3     174
4.4     144
2.5     110
4.5      95
2.4      87
4.6      78
4.9      61
2.3      47
4.7      42
2.2      27
4.8      25
2.1      15
2.0       7
1.9       2
1.8       1
Name: Aggregate rating, dtype: int64

In [ ]:
df.tail(10)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
9541,17582627,Senor Iguanas,216,Pocatello,"961 Hiline Rd, Pocatello, ID 83201",Pocatello,"Pocatello, Pocatello",-112.443300,42.894200,Mexican,0,Dollar($),No,No,1,3.6,Yellow,Good,108
9542,3400073,The Latitude - Radisson Blu,1,Agra,"Radisson Blu, Taj East Gate Road, Tajganj, Agra","Radisson Blu, Tajganj","Radisson Blu, Tajganj, Agra",78.057044,27.163303,"North Indian, Chinese, Continental",0,Indian Rupees(Rs.),No,No,1,3.9,Yellow,Good,103
9543,3400346,Sheroes Hangout,1,Agra,"Opposite The Gateway Hotel, Fatehabad Road, Ta...",Tajganj,"Tajganj, Agra",78.040165,27.161850,"Cafe, North Indian, Chinese",0,Indian Rupees(Rs.),No,No,1,4.9,Dark Green,Excellent,77
9544,3400391,Chapter 1 Cafe,1,Agra,"1374 K/1375 K, 2nd floor, Dinesh Nagar, Fatehb...",Tajganj,"Tajganj, Agra",0.000000,0.000000,"Cafe, Italian, Mexican, North Indian, Continental",0,Indian Rupees(Rs.),No,No,1,3.9,Yellow,Good,98
9545,18317988,The BrewMaster,1,Allahabad,"Near Vishal Megamart, Civil Lines, Allahabad",Civil Lines,"Civil Lines, Allahabad",81.832796,25.451646,"North Indian, Chinese, Italian",0,Indian Rupees(Rs.),No,No,1,3.3,Orange,Average,49
9546,18279289,BMG - All Day Dining,1,Dehradun,"140 A, Rajpur Road, Jakhan, Dehradun",Jakhan,"Jakhan, Dehradun",78.068890,30.362686,"Chinese, North Indian, Fast Food",0,Indian Rupees(Rs.),No,No,1,4.3,Green,Very Good,63
9547,2300497,Atmosphere Grill Cafe Sheesha,1,Kanpur,"8th Floor, J.S. Tower, 16/106 - Mall Road, Kan...",Mall Road,"Mall Road, Kanpur",80.354002,26.472001,"Indian, Chinese, Continental",0,Indian Rupees(Rs.),No,No,1,3.6,Yellow,Good,34
9548,18312106,UrbanCrave,1,Kanpur,"14/125, The Mall, Mall Road, Colonelganj, Para...",Parade,"Parade, Kanpur",80.342796,26.474986,"Cafe, Continental, Desserts, Ice Cream, Italia...",0,Indian Rupees(Rs.),No,No,1,3.9,Yellow,Good,127
9549,3900245,Deena Chat Bhandar,1,Varanasi,"D-47/184, Luxa Road, Dashaswmedh Road, Varanasi",Dashaswmedh Road,"Dashaswmedh Road, Varanasi",0.000000,0.000000,Street Food,0,Indian Rupees(Rs.),No,No,1,3.8,Yellow,Good,78
9550,18246202,VNS Live Studio,1,Varanasi,"Hotel Varuna Ground Floor, 22 Gulab Bagh, Sigr...",Sigra,"Sigra, Varanasi",82.991694,25.318345,"Chinese, North Indian",0,Indian Rupees(Rs.),No,No,1,3.5,Yellow,Good,109

In [ ]:
df.shape

(9551, 19)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Price range           9551 non-null   int64
 15  Aggregate rating      9551 non-null   float64
 16  Rating color          9551 non-null   object
 17  Rating text           9551 non-null   object
 18  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(11)
memory usage: 1.4+ MB

In [ ]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [ ]:
df.describe

<bound method NDFrame.describe of       Restaurant ID                Restaurant Name  Country Code      City  \
0           7402935                           Skye            94   Jakarta
1           7410290       Satoo - Hotel Shangri-La            94   Jakarta
2           7420899                     Sushi Masa            94   Jakarta
3           7421967                 3 Wise Monkeys            94   Jakarta
4           7422489    Avec Moi Restaurant and Bar            94   Jakarta
...             ...                            ...           ...       ...
9546       18279289           BMG - All Day Dining             1  Dehradun
9547        2300497  Atmosphere Grill Cafe Sheesha             1    Kanpur
9548       18312106                     UrbanCrave             1    Kanpur
9549        3900245             Deena Chat Bhandar             1  Varanasi
9550       18246202                VNS Live Studio             1  Varanasi

                                                Address  \
0     Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...
1                  Hotel Shangri-La, Jl. Jend. Sudirman
2                      Jl. Tuna Raya No. 5, Penjaringan
3                   Jl. Suryo No. 26, Senopati, Jakarta
4     Gedung PIC, Jl. Teluk Betung 43, Thamrin, Jakarta
...                                                 ...
9546               140 A, Rajpur Road, Jakhan, Dehradun
9547  8th Floor, J.S. Tower, 16/106 - Mall Road, Kan...
9548  14/125, The Mall, Mall Road, Colonelganj, Para...
9549    D-47/184, Luxa Road, Dashaswmedh Road, Varanasi
9550  Hotel Varuna Ground Floor, 22 Gulab Bagh, Sigr...

                           Locality                        Locality Verbose  \
0     Grand Indonesia Mall, Thamrin  Grand Indonesia Mall, Thamrin, Jakarta
1        Hotel Shangri-La, Sudirman     Hotel Shangri-La, Sudirman, Jakarta
2                       Penjaringan                    Penjaringan, Jakarta
3                          Senopati                       Senopati, Jakarta
4                           Thamrin                        Thamrin, Jakarta
...                             ...                                     ...
9546                         Jakhan                        Jakhan, Dehradun
9547                      Mall Road                       Mall Road, Kanpur
9548                         Parade                          Parade, Kanpur
9549               Dashaswmedh Road              Dashaswmedh Road, Varanasi
9550                          Sigra                         Sigra, Varanasi

       Longitude   Latitude  \
0     106.821999  -6.196778
1     106.818961  -6.203292
2     106.800144  -6.101298
3     106.813400  -6.235241
4     106.821023  -6.196270
...          ...        ...
9546   78.068890  30.362686
9547   80.354002  26.472001
9548   80.342796  26.474986
9549    0.000000   0.000000
9550   82.991694  25.318345

                                               Cuisines  Average Cost for two  \
0                                  Italian, Continental                800000
1                            Asian, Indonesian, Western                800000
2                                       Sushi, Japanese                500000
3                                              Japanese                450000
4                                       French, Western                350000
...                                                 ...                   ...
9546                   Chinese, North Indian, Fast Food                     0
9547                       Indian, Chinese, Continental                     0
9548  Cafe, Continental, Desserts, Ice Cream, Italia...                     0
9549                                        Street Food                     0
9550                              Chinese, North Indian                     0

                    Currency Has Table booking Has Online delivery  \
0     Indonesian Rupiah(IDR)                No                  No
1     Indonesian Rupiah(IDR)                No                  No
2     Indonesian Rupiah(IDR)                No                  No
3     Indonesian Rupiah(IDR)                No                  No
4     Indonesian Rupiah(IDR)                No                  No
...                      ...               ...                 ...
9546      Indian Rupees(Rs.)                No                  No
9547      Indian Rupees(Rs.)                No                  No
9548      Indian Rupees(Rs.)                No                  No
9549      Indian Rupees(Rs.)                No                  No
9550      Indian Rupees(Rs.)                No                  No

      Price range  Aggregate rating Rating color Rating text  Votes
0               3               4.1        Green   Very Good   1498
1               3               4.6   Dark Green   Excellent    873
2               3               4.9   Dark Green   Excellent    605
3               3               4.2        Green   Very Good    395
4               3               4.3        Green   Very Good    243
...           ...               ...          ...         ...    ...
9546            1               4.3        Green   Very Good     63
9547            1               3.6       Yellow        Good     34
9548            1               3.9       Yellow        Good    127
9549            1               3.8       Yellow        Good     78
9550            1               3.5       Yellow        Good    109

[9551 rows x 19 columns]>

In [ ]:
list(df.columns)

['Restaurant ID',
 'Restaurant Name',
 'Country Code',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Price range',
 'Aggregate rating',
 'Rating color',
 'Rating text',
 'Votes']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Price range           9551 non-null   int64
 15  Aggregate rating      9551 non-null   float64
 16  Rating color          9551 non-null   object
 17  Rating text           9551 non-null   object
 18  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(11)
memory usage: 1.4+ MB

# Data Cleaning

In [ ]:
df.isnull()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9547,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9548,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9549,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9550,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [ ]:
df.duplicated().value_counts()

False    9542
dtype: int64

In [ ]:
list(df.columns)

['Restaurant ID',
 'Restaurant Name',
 'Country Code',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Price range',
 'Aggregate rating',
 'Rating color',
 'Rating text',
 'Votes']

In [ ]:
Unecessary_columns = ['Restaurant ID','Locality','Locality Verbose','Rating color','Rating text','Address']
df.drop(Unecessary_columns, axis=1,inplace=True)

C:\Users\ryans\AppData\Local\Temp\ipykernel_11628\3109465283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(Unecessary_columns, axis=1,inplace=True)

In [ ]:
list(df.columns)

['Restaurant Name',
 'Country Code',
 'City',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Price range',
 'Aggregate rating',
 'Votes']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant Name       9542 non-null   object
 1   Country Code          9542 non-null   int64
 2   City                  9542 non-null   object
 3   Longitude             9542 non-null   float64
 4   Latitude              9542 non-null   float64
 5   Cuisines              9542 non-null   object
 6   Average Cost for two  9542 non-null   int64
 7   Currency              9542 non-null   object
 8   Has Table booking     9542 non-null   object
 9   Has Online delivery   9542 non-null   object
 10  Price range           9542 non-null   int64
 11  Aggregate rating      9542 non-null   float64
 12  Votes                 9542 non-null   int64
dtypes: float64(3), int64(4), object(6)
memory usage: 1.0+ MB

# Data Analysis

In [ ]:
mxc=df.groupby(['City'],as_index = False)['Restaurant Name'].count()
mxc

                City  Restaurant Name
0          Abu Dhabi               20
1               Agra               20
2          Ahmedabad               21
3             Albany               17
4          Allahabad               20
..               ...              ...
135          Weirton                1
136  Wellington City               20
137   Winchester Bay                1
138          Yorkton                1
139        ÛÁstanbul               14

[140 rows x 2 columns]

In [ ]:
df = df.iloc[2:,:]
df

,Restaurant Name,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
4,Avec Moi Restaurant and Bar,94,Jakarta,106.821023,-6.196270,"French, Western",350000,Indonesian Rupiah(IDR),No,No,3,4.3,243
5,Lucky Cat Coffee & Kitchen,94,Jakarta,106.831748,-6.218932,"Cafe, Western",300000,Indonesian Rupiah(IDR),No,No,3,4.3,458
6,Onokabe,94,Tangerang,106.652688,-6.241792,Indonesian,300000,Indonesian Rupiah(IDR),No,No,3,3.7,155
7,Lemongrass,94,Bogor,106.807850,-6.576578,"Peranakan, Indonesian",250000,Indonesian Rupiah(IDR),No,No,3,4.0,1159
8,MONKS,94,Jakarta,106.911335,-6.163948,"Western, Asian, Cafe",250000,Indonesian Rupiah(IDR),No,No,3,4.2,259
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,BMG - All Day Dining,1,Dehradun,78.068890,30.362686,"Chinese, North Indian, Fast Food",0,Indian Rupees(Rs.),No,No,1,4.3,63
9547,Atmosphere Grill Cafe Sheesha,1,Kanpur,80.354002,26.472001,"Indian, Chinese, Continental",0,Indian Rupees(Rs.),No,No,1,3.6,34
9548,UrbanCrave,1,Kanpur,80.342796,26.474986,"Cafe, Continental, Desserts, Ice Cream, Italia...",0,Indian Rupees(Rs.),No,No,1,3.9,127
9549,Deena Chat Bhandar,1,Varanasi,0.000000,0.000000,Street Food,0,Indian Rupees(Rs.),No,No,1,3.8,78
9550,VNS Live Studio,1,Varanasi,82.991694,25.318345,"Chinese, North Indian",0,Indian Rupees(Rs.),No,No,1,3.5,109

In [ ]:
data=df.groupby(['City'],as_index = False)['Restaurant Name'].count()
df.columns = ['Restaurant Name','City']
data = df.sort_values(by='Counts',ascending=False).head(11).reset_index(drop=True)
data = df.iloc[1:,:]

ValueError: Length mismatch: Expected axis has 13 elements, new values have 2 elements

In [ ]:
data = df.sort_values(by='City',ascending=False).head(50).reset_index(drop=True)
data

,Restaurant Name,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
0,Draft Gastro Pub,208,ÛÁstanbul,29.074116,40.963935,Bar Food,130,Turkish Lira(TL),No,No,4,4.9,522
1,Valonia,208,ÛÁstanbul,29.002896,41.044813,"Restaurant Cafe, Desserts",80,Turkish Lira(TL),No,No,3,4.2,874
2,Baltazar,208,ÛÁstanbul,28.981103,41.025785,"Burger, Izgara",90,Turkish Lira(TL),No,No,3,4.3,870
3,Walter's Coffee Roastery,208,ÛÁstanbul,29.026016,40.984776,Cafe,55,Turkish Lira(TL),No,No,2,4.0,591
4,Emirgan Sí_tiô,208,ÛÁstanbul,29.056620,41.104969,"Restaurant Cafe, Turkish, Desserts",75,Turkish Lira(TL),No,No,3,4.2,877
5,Aôôk Kahve,208,ÛÁstanbul,29.036019,41.057979,Restaurant Cafe,120,Turkish Lira(TL),No,No,4,4.0,901
6,NamlÛ± Gurme,208,ÛÁstanbul,28.977392,41.022793,Turkish,80,Turkish Lira(TL),No,No,3,4.1,788
7,Leman Kí_ltí_r,208,ÛÁstanbul,29.022805,40.989705,Restaurant Cafe,80,Turkish Lira(TL),No,No,3,3.7,506
8,Starbucks,208,ÛÁstanbul,29.043734,41.077696,Cafe,30,Turkish Lira(TL),No,No,2,4.9,1042
9,J'adore Chocolatier,208,ÛÁstanbul,28.976127,41.033002,Desserts,50,Turkish Lira(TL),No,No,2,4.7,1311
10,Dem Karakí_y,208,ÛÁstanbul,28.978237,41.024633,Cafe,35,Turkish Lira(TL),No,No,2,4.5,761
11,Karakí_y Gí_llí_oÛôlu,208,ÛÁstanbul,28.977636,41.022904,"Desserts, Bí_rek",40,Turkish Lira(TL),No,No,2,4.7,1305
12,Ceviz AÛôacÛ±,208,ÛÁstanbul,29.041297,41.009847,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,3,4.2,1034
13,Huqqa,208,ÛÁstanbul,29.034640,41.055817,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,4,3.7,661
14,Arigato Sushi,37,Yorkton,-102.461317,51.210682,Asian,25,Dollar($),No,No,2,3.3,26
15,Fishpatrick's Crabby Cafe,216,Winchester Bay,-124.175346,43.678998,"Burger, Seafood, Steak",25,Dollar($),No,No,2,3.2,16
16,wagamama,148,Wellington City,174.779224,-41.283034,"Japanese, Asian",70,NewZealand($),No,No,4,3.7,131
17,Midnight Espresso,148,Wellington City,174.774912,-41.294565,Cafe,40,NewZealand($),No,No,2,4.3,157
18,Ombra,148,Wellington City,174.775000,-41.294833,Italian,70,NewZealand($),No,No,4,4.5,152
19,Hippopotamus - Museum Hotel,148,Wellington City,174.782427,-41.291774,"French, Kiwi",200,NewZealand($),No,No,4,4.4,125
20,The Crab Shack,148,Wellington City,174.779167,-41.284833,"Seafood, Kiwi",90,NewZealand($),No,No,4,4.1,229
21,Dragonfly,148,Wellington City,174.780667,-41.293000,Asian,100,NewZealand($),No,No,4,4.3,143
22,Burger Liquor,148,Wellington City,174.774546,-41.289798,American,55,NewZealand($),No,No,3,4.1,116
23,Five Boroughs,148,Wellington City,174.785051,-41.294234,American,60,NewZealand($),No,No,3,4.1,114
24,Fisherman's Plate,148,Wellington City,174.775667,-41.289000,"Vietnamese, Fish and Chips",40,NewZealand($),No,No,2,4.3,96
25,Olive,148,Wellington City,174.775005,-41.294402,"Mediterranean, Cafe, European",80,NewZealand($),No,No,4,4.2,146
26,Maranui Cafe,148,Wellington City,174.793257,-41.330428,"Cafe, Kiwi",50,NewZealand($),No,No,3,4.3,127
27,The Hangar,148,Wellington City,174.773933,-41.290801,Cafe,50,NewZealand($),No,No,3,4.6,171
28,Caffe L'affare,148,Wellington City,174.780345,-41.296155,Cafe,50,NewZealand($),No,No,3,4.1,103
29,Enigma Cafe,148,Wellington City,174.779167,-41.292500,"Cafe, Kiwi, Ice Cream, Desserts",50,NewZealand($),No,No,3,4.0,94
30,Fidel's,148,Wellington City,174.774134,-41.295970,"Cafe, European, Mexican",50,NewZealand($),No,No,3,4.4,242
31,Little Penang,148,Wellington City,174.777091,-41.291901,Malaysian,50,NewZealand($),No,No,3,4.4,161
32,Charley Noble Eatery & Bar,148,Wellington City,174.777465,-41.284961,European,110,NewZealand($),No,No,4,4.3,141
33,Floriditas,148,Wellington City,174.775500,-41.293833,"Italian, Cafe",105,NewZealand($),No,No,4,4.2,170
34,Ekim Burgers,148,Wellington City,174.774151,-41.296107,Fast Food,25,NewZealand($),No,No,1,4.5,195
35,Loretta,148,Wellington City,174.775296,-41.294154,"European, Cafe",80,NewZealand($),No,No,4,4.2,113
36,Theo Yianni's Authentic Greek Restaurant,216,Weirton,-80.529488,40.396043,"Burger, Greek, Sandwich",25,Dollar($),No,No,2,3.9,156
37,Galleria de Paco,216,Waterloo,-92.339721,42.494908,American,40,Dollar($),No,No,3,3.6,86
38,Sakura,216,Waterloo,-92.426215,42.512590,"Japanese, Sushi",40,Dollar($),No,No,3,3.8,175
39,Montage,216,Waterloo,-92.445300,42.536600,"American, Italian, Seafood",40,Dollar($),No,No,3,3.6,89
40,The Thai Bowl,216,Waterloo,-92.335769,42.497919,Thai,10,Dollar($),No,No,1,3.5,58
41,The Screaming Eagle,216,Waterloo,-92.335523,42.498400,"American, Bar Food",10,Dollar($),No,No,1,3.7,101
42,Scratch,216,Waterloo,-92.445742,42.535408,"Coffee and Tea, Desserts, Beverages",10,Dollar($),No,No,1,3.7,136
43,J's Homestyle Cooking,216,Waterloo,-92.466597,42.509472,"American, Breakfast",10,Dollar($),No,No,1,3.6,69
44,Hong Kong Chinese Restaurant,216,Waterloo,-92.432200,42.513300,Chinese,10,Dollar($),No,No,1,3.8,136
45,Four Queens Dairy Cream,216,Waterloo,-92.459900,42.537700,Desserts,10,Dollar($),No,No,1,3.9,190
46,Masala Grill & Coffee House,216,Waterloo,-92.456343,42.516908,"Indian, Middle Eastern",10,Dollar($),No,No,1,3.2,18
47,Brown Bottle The Cedar Falls,216,Waterloo,-92.450700,42.546400,"Italian, Pizza, Vegetarian",25,Dollar($),No,No,2,3.7,134
48,Tokyo Japanese Steak House,216,Waterloo,-92.323400,42.465580,"Japanese, Steak, Sushi",25,Dollar($),No,No,2,3.9,156
49,Golden China,216,Waterloo,-92.356066,42.458979,Chinese,10,Dollar($),No,No,1,3.7,73

In [ ]:
df.groupby(["City","Restaurant Name"]).mean()

                                            Country Code  Longitude  \
City      Restaurant Name
Abu Dhabi Applebee's                               214.0  54.413141
          Bait El Khetyar                          214.0  54.371434
          Cho Gao - Crowne Plaza Abu Dhabi         214.0  54.365694
          Denny's                                  214.0  54.382797
          Famous Dave's Barbecue                   214.0  54.382946
...                                                  ...        ...
ÛÁstanbul Leman Kí_ltí_r                           208.0  29.022805
          NamlÛ± Gurme                             208.0  28.977392
          Starbucks                                208.0  29.043734
          Valonia                                  208.0  29.002896
          Walter's Coffee Roastery                 208.0  29.026016

                                             Latitude  Average Cost for two  \
City      Restaurant Name
Abu Dhabi Applebee's                        24.434099                 250.0
          Bait El Khetyar                   24.488411                  70.0
          Cho Gao - Crowne Plaza Abu Dhabi  24.491235                 350.0
          Denny's                           24.495503                 190.0
          Famous Dave's Barbecue            24.495693                 260.0
...                                               ...                   ...
ÛÁstanbul Leman Kí_ltí_r                    40.989705                  80.0
          NamlÛ± Gurme                      41.022793                  80.0
          Starbucks                         41.077696                  30.0
          Valonia                           41.044813                  80.0
          Walter's Coffee Roastery          40.984776                  55.0

                                            Price range  Aggregate rating  \
City      Restaurant Name
Abu Dhabi Applebee's                                4.0               4.0
          Bait El Khetyar                           2.0               4.0
          Cho Gao - Crowne Plaza Abu Dhabi          4.0               4.4
          Denny's                                   4.0               4.6
          Famous Dave's Barbecue                    4.0               4.6
...                                                 ...               ...
ÛÁstanbul Leman Kí_ltí_r                            3.0               3.7
          NamlÛ± Gurme                              3.0               4.1
          Starbucks                                 2.0               4.9
          Valonia                                   3.0               4.2
          Walter's Coffee Roastery                  2.0               4.0

                                             Votes
City      Restaurant Name
Abu Dhabi Applebee's                         205.0
          Bait El Khetyar                    380.0
          Cho Gao - Crowne Plaza Abu Dhabi   246.0
          Denny's                            207.0
          Famous Dave's Barbecue             376.0
...                                            ...
ÛÁstanbul Leman Kí_ltí_r                     506.0
          NamlÛ± Gurme                       788.0
          Starbucks                         1042.0
          Valonia                            874.0
          Walter's Coffee Roastery           591.0

[7965 rows x 7 columns]

# cities with the maximum and minimum amount restaurants.

In [ ]:
df.groupby(['Restaurant Name','City']).max()

,,Country Code,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
Restaurant Name,City,,,,,,,,,,,
Let's Burrrp,New Delhi,1,0.000000,0.000000,"Chinese, North Indian",400,Indian Rupees(Rs.),No,No,1,0.0,0
#45,New Delhi,1,0.000000,0.000000,Cafe,600,Indian Rupees(Rs.),No,No,2,3.6,209
#Dilliwaala6,New Delhi,1,79.834810,11.936532,North Indian,800,Indian Rupees(Rs.),No,No,3,3.7,124
#InstaFreeze,New Delhi,1,77.253694,28.525420,Ice Cream,300,Indian Rupees(Rs.),No,No,1,0.0,2
#NAME?,New Delhi,1,72.501764,23.040163,"North Indian, Continental, Mexican, Italian",800,Indian Rupees(Rs.),No,No,3,4.1,769
...,...,...,...,...,...,...,...,...,...,...,...,...
t Lounge by Dilmah,New Delhi,1,77.227133,28.601087,"Cafe, Tea, Desserts",800,Indian Rupees(Rs.),No,No,2,3.6,34
tashas,New Delhi,189,18.421341,-33.902336,"Cafe, Mediterranean",320,Rand(R),No,No,4,4.1,374
wagamama,New Delhi,148,174.779224,-41.283034,"Japanese, Asian",70,NewZealand($),No,No,4,3.7,131
{Niche} - Cafe & Bar,New Delhi,1,77.222507,28.631516,"North Indian, Chinese, Italian, Continental",1500,Indian Rupees(Rs.),Yes,No,3,4.1,492
íˆukuraÛôa SofrasÛ±,New Delhi,208,32.818833,39.916667,"Kebab, Izgara",60,Turkish Lira(TL),No,No,3,4.4,296

# Ratio of restaurants that allow and don't allow table booking

In [ ]:
df_group= df.groupby("Has Table booking")["Restaurant Name"].count()

In [ ]:
df_group.head(10)

Has Table booking
No     8393
Yes    1158
Name: Restaurant Name, dtype: int64

# percentage of restaurants providing online delivery

In [ ]:
df_Group2= df.groupby("Has Online delivery")["Restaurant Name"].count()/df.shape[0]*100

In [ ]:
df_Group2.head()

Has Online delivery
No     74.337766
Yes    25.662234
Name: Restaurant Name, dtype: float64

# number of votes that deliver and do not deliver

In [ ]:
df['Votes'].sum()

1498645

In [ ]:
df.groupby(by=['Has Online delivery']).Votes.sum()

Has Online delivery
No     980731
Yes    517914
Name: Votes, dtype: int64